<!DOCTYPE>
<html>
<head>
	<title>Make Note</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<link rel="icon" href="<< Head.LOGO >>">

</head>
<body>

	<< include : Header/MainHeader >>

	<div class="container">

		<div class="row justify-content-center">

			<form class="col-lg-6 col-sm-12 col-md-8" method="POST"
				action="<< Header.MakeNote >>">

				<< CSRF >>

				<div class="form-group">
					<label for="Title">
						Enter Your Note Title <input type="text" name="Title"
							value="<< POST.Title >>">
					</label>
					<< if Errors.Title != "" >>
						<< Errors.Title >>
					<< endif >>
				</div>

				<div class="form-group">
					<label for="Password">
						<textarea name="Note"></textarea>
					</label>
					<< if Errors.Note != "" >>
						<< Errors.Note >>
					<< endif >>
				</div>

				<button class="btn btn-primary">Save Note</button>

			</form>

		</div>
	</div>

</body>
</html>