<!DOCTYPE>
<html>
<head>
	<title>Note</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<link rel="icon" href="<< Head.LOGO >>">

</head>
<body>

	<< include : Header/MainHeader >>

	<div class="container">

		<div class="row justify-content-center">

			<div style="display: block;" class="col-lg-12">
				<p>Title : << Note.Title >> </p>
				<p>Created At : << Note.Created_At >> </p>
				<p>Updated At : << Note.Updated_At >> </p>
			</div>

			<div class="col-lg-12" style="border-color: #454545;border-style: solid;
					border-width: 0.5px;">
			</div>

			<div style="display: block;" class="col-lg-12">
				<< Note.Body >>
			</div>
		</div>
	</div>

</body>
</html>