<footer>

    <# Hello From The Comment #>

    << Find >>
    << Load : Footer >>
    << Filter : Footer : Footer.Privacy - "Just Me" >>


    <form method="POST">
        
    << CSRF >>
        <input type="text" name="Name">
        <input type="submit" name="" value="Button">
    </form>
    <div>
        <a href="<< Footer.Find >>">Find House</a>
        <p>&copy; 2018 The Emperors</p>
    </div>
    <div style="text-align: left;">
        <p>Services</p>
        <a href="<< Footer.Help >>">Help Center</a>
        <a href="<< Footer.Privacy >>">Privacy Policy</a>
    </div>
    
    <div>
    	<p>Contact Email :</p>
    	<p>abdoaslam000@gmail.com</p>
    </div>

</footer>