<footer>

    <# Hello From The Comment #>

    << Load       :                         Footer >>
    <<     include:MessageBox            >>

    <<        Filter :Footer >>

    <<    Filter:Foot       :"Just Me"         -     Footer.Privacy         >>


    << Find >>

    <form method="POST">
        
    << CSRF         >>
        <input type="text" name="Name">
        <input type="submit" name="" value="Button">
    </form>

    <<             if             Footer.Find==Find()         >>

        <div>
            <a href="<< Footer.Find >>">Find House</a>
            <p>&copy; 2018 The Emperors</p>
        </div>
    
    << elseif Footer.Help == "Footer Help" >>

        << include : MessageBox >>
    
        <div style="text-align: left;">
            <p>Services</p>
            <a href="<< Footer.Help >>">Help Center</a>
            <a href="<< Footer.Privacy >>">Privacy Policy</a>
        </div>

    << else >>

        <div>
            <p>Hello From Here</p>
        </div>
    
    << endif >>

    <div>
    	<p>Contact Email :</p>
    	<p>abdoaslam000@gmail.com</p>
    </div>

</footer>